@model WebApplication1.Models.Сотрудники

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@WebApplication1.Models.Strings.Deleting</h3>

<h4>@WebApplication1.Models.Strings.Are_you_sure</h4>
<br />
<div>
    @Html.ValidationMessage("ErrorMessage", "", new { @class = "text-danger" })
    <h4 style="font-weight: bold">@Html.DisplayFor(model => model.ФИО_сотрудника)</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Номер_телефона)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_телефона)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Примечания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Примечания)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Состояние_сотрудника.Состояние)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Состояние_сотрудника.Состояние)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@WebApplication1.Models.Strings.Delete class="btn btn-default btn-yellow" /> |
            @Html.ActionLink(WebApplication1.Models.Strings.Back_to_list, "Index")
        </div>
    }
</div>
