@model IEnumerable<WebApplication1.Models.Сотрудники>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>СОТРУДНИКИ ОТДЕЛА</h3>

<p>
    @Html.ActionLink(WebApplication1.Models.Strings.Create_New, "Create")
</p>
<table class="sort" id="bigTable">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ФИО_сотрудника)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Должность)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Номер_телефона)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Примечания)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Состояние_сотрудника.Состояние)
            </td>
            <td class="td1"> </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ФИО_сотрудника)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Должность)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Номер_телефона)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Примечания)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Состояние_сотрудника.Состояние)
                </td>
                <td class="nav nav-pills td2">
                    @Html.ActionLink(WebApplication1.Models.Strings.Edit, "Edit", new { id = item.ID_сотрудника }) |
                    @Html.ActionLink(WebApplication1.Models.Strings.details, "Details", new { id = item.ID_сотрудника }) |
                    @Html.ActionLink(WebApplication1.Models.Strings.Delete, "Delete", new { id = item.ID_сотрудника })
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="display:none;" class="nav_up" id="nav_up"></div>
<div style="display:none;" class="nav_down" id="nav_down"></div>