@model WebApplication1.Models.Подходящие_запасные_детали

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Подходящие_запасные_детали</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Модели_тренажёров.Тип_тренажёра)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Модели_тренажёров.Тип_тренажёра)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Склад_запасных_деталей.Примечания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Склад_запасных_деталей.Примечания)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
