@model WebApplication1.Models.Ремонт

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@WebApplication1.Models.Strings.Details</h3>
<br />

<div>
    <h4>Ремонт</h4>
    <h4 style="font-weight: bold">@Html.DisplayFor(model => model.SN)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Начало)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Начало)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Завершение)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Завершение)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Примечания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Примечания)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Сотрудники.ФИО_сотрудника)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудники.ФИО_сотрудника)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(WebApplication1.Models.Strings.Edit, "Edit", new { id = Model.ID_ремонта }) |
    @Html.ActionLink(WebApplication1.Models.Strings.Back_to_list, "Index")
</p>
