@model WebApplication1.Models.Ремонт

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@WebApplication1.Models.Strings.Editing</h3>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ремонт</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_ремонта)

        <div class="form-group">
            @Html.LabelFor(model => model.SN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("Начало_SN", null, new { id = "Начало_SN", @class = "form-control" })
            </div>
            <div class="col-md-5">
                @Html.DropDownList("Конец_SN", ViewBag.Конец_SN as SelectList, new { id = "Конец_SN", @class = "form-control" })
            </div>
        </div>



@section scripts{




    <script type="text/javascript">
    $(function () {

        $('#Начало_SN').change(function ()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + id,
                success: function (data) {

                                            // заменяем содержимое присланным частичным представлением
                                            $('#Конец_SN').replaceWith(data);
                                        }
            });
        });
    })
    </script>


    <script type="text/javascript">
            $("#datepicker1").datepicker($.datepicker.regional["ru"])({ dateFormat: 'dd/mm/yy' })
    </script>
    <script type="text/javascript">
            $("#datepicker2").datepicker($.datepicker.regional["ru"])({ dateFormat: 'dd/mm/yy' })
    </script>

}




        <div class="form-group">
            @Html.LabelFor(model => model.Сотрудники.ФИО_сотрудника, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_сотрудника", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_сотрудника, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Начало, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Начало, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1" } })
                @Html.ValidationMessage("Начало", "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Завершение, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Завершение, new { htmlAttributes = new { @class = "form-control", @id = "datepicker2" } })
                @Html.ValidationMessage("Завершение", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Примечания, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Примечания, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Примечания, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@WebApplication1.Models.Strings.Save class="btn btn-default btn-yellow" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(WebApplication1.Models.Strings.Back_to_list, "Index")
</div>

