@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@WebApplication1.Models.Strings.Reg</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Фамилия", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("SecondName", "", new { @class = "form-control" })
            @Html.ValidationMessage("SecondName", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Имя", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("FirstName", "", new { @class = "form-control" })
            @Html.ValidationMessage("FirstName", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Отчество", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Patronymic", "", new { @class = "form-control"})
            @Html.ValidationMessage("Patronymic", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Права доступа", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @{
                List<SelectListItem> RoleList = new List<SelectListItem>();

                foreach (var x in ViewBag.AllRoles)
                {
                    RoleList.Add(new SelectListItem() { Text = x });
                }
            }

            @Html.DropDownList("SelectedRole", RoleList, new { @class = "form-control" })

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@WebApplication1.Models.Strings.RegButton class="btn btn-default btn-yellow" />
        </div>
    </div>
}


<div>
    @Html.ActionLink(WebApplication1.Models.Strings.Back_to_list, "Index", "Admin")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
