@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@WebApplication1.Models.Strings.Creating</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Учётные записи пользователей</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.secondName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.secondName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.secondName, "", new { @class = "text-danger" })

        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.firstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })

        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.patronymic, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.patronymic, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.patronymic, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.userRoleName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @{
                List<SelectListItem> RoleList = new List<SelectListItem>();

                foreach (var x in ViewBag.AllRoles)
                {
                    RoleList.Add(new SelectListItem() { Text = x });
                }
            }

            @Html.DropDownList("SelectedRole", RoleList, new { @class = "form-control" })

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@WebApplication1.Models.Strings.Create class="btn btn-default btn-yellow" />
        </div>
    </div>
}


<div>
    @Html.ActionLink(WebApplication1.Models.Strings.Back_to_list, "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
