@model WebApplication1.Models.Модели_тренажёров

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@WebApplication1.Models.Strings.Details</h3>
<br />

<div>
    <h4 style="font-weight: bold">@Html.DisplayFor(model => model.Начало_SN)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Тип_тренажёра)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тип_тренажёра)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название_линейки)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_линейки)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название_модели)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_модели)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Примечания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Примечания)
        </dd>

    </dl>
</div>
<p>
        @Html.ActionLink(WebApplication1.Models.Strings.Edit, "Edit", new { id = Model.Начало_SN}) |
        @Html.ActionLink(WebApplication1.Models.Strings.Back_to_list, "Index")
</p>

<div class="col-md-6">
    <div class="item">
        @if (Model.ImageData != null)
        {
            <div style="float: left; margin-right: 20px">
                <img height="500" src="@Url.Action("GetImage", "Модели_тренажёров", new { Model.Начало_SN})" />
            </div>
        }

    </div>
</div>