@model IEnumerable<WebApplication1.Models.Модели_тренажёров>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Тип_тренажёра)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Название_линейки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Название_модели)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фото)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Примечания)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Тип_тренажёра)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Название_линейки)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Название_модели)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Фото)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Примечания)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Начало_SN }) |
            @Html.ActionLink("Details", "Details", new { id=item.Начало_SN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Начало_SN })
        </td>
    </tr>
}

</table>
